## Question 2. dbt Tests

You've configured a generic test like this in your schema.yml:

In [ ]:
columns:
  - name: payment_type
    data_tests:
      - accepted_values:
          arguments:
            values: [1, 2, 3, 4, 5]
            quote: false

Your model fct_trips has been running successfully for months. A new value 6 now appears in the source data.

What happens when you run dbt test --select fct_trips?

- dbt will skip the test because the model didn't change
- dbt will fail the test, returning a non-zero exit code
- dbt will pass the test with a warning about the new value
- dbt will update the configuration to include the new value

Answer: dbt will fail the test, returning a non-zero exit code

--- 

Explanation:
The accepted_values test ensures that a column only contains specific allowed values.

In this case:
Allowed values:
[1, 2, 3, 4, 5]

New value found in data:
6 ❌ (not allowed)

--- 

How dbt Tests Work Internally - 
dbt generates a query similar to:

In [ ]:
SELECT payment_type
FROM fct_trips
WHERE payment_type NOT IN (1, 2, 3, 4, 5)

If this query returns any rows → test FAILS.

Since value 6 exists, dbt will detect invalid rows.

---
What dbt does when test fails

When running:
dbt test --select fct_trips

dbt will:
- Execute the test query
- Detect invalid value (6)
- Mark test as FAILED
- Return non-zero exit code
- Show failing rows count